html {
   padding: 0;
   margin: 0;
   background: $color-background url("../img/04-lincolns-catafalque-us-capitol-670.jpg") no-repeat center center fixed;
   background-size: cover;
}

body {
   font: 1.1em / 1.45 "Hind", sans-serif;
   font-size: 1.1em;
   color: white;
   margin: 0 auto;
   padding: 0;
}

header {
   position: relative;
   padding: 0;
   margin: 0;
}
